
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Knowledge is fun !</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../../bootstrap-3.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<style type="text/css">

</style>
</head>

<body data-twttr-rendered="true">


<header id="HRnavbar" class="navbar navbar-inverse navbar-static-top"
		style="background-color: #373c40;" role="banner">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><b>ReadingFun</b></a>
			<!-- this section is used when we surf the website with a phone or a device smaller than our pc ! -->
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#menuportable">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
		</div>
		<!-- end navbar-header-->

		<div class="collapse navbar-collapse" id="menuportable">

<!-- 			<button class="btn btn-primary navbar-btn navbar-right" -->
<!-- 				style="margin-right: 2px;" data-toggle="modal" data-target="#">Register</button> -->
		
		
			<a href="#" class="btn btn-primary navbar-btn navbar-right">Log Out</a>
		
			<ul class="nav navbar-nav">
				<li><a href="#feedback"></a></li>
				<li><a href="#gallery"></a></li>
				<li><a href="#best"></a></li>
			</ul>
		</div>
		<!-- end navbar-collapse-->
	</header>	






</body>


<script type="text/javascript"
	src="../../../bootstrap-3.3.2/js/tests/vendor/jquery.min.js"></script>
<script
	src="../../../formvalidation-master/vendor/bootstrap/js/bootstrap.min.js"></script>
</html>